@model List<Host>;

@{
    ViewData["Title"] = "Home Page";
}

<main class="container">

    <header class="content_top ">
        <div class="cabecalho">
            <h1>my trips</h1>
        </div>
    </header>

    <section class="seção">
        <div class="infos">
            <div class="divInfos">
                <p id="city"><i class="fas fa-map-marker-alt"></i> Dubai, UAE</p>
            </div>
            <div class="divInfos">
                <p id="date"><i class="far fa-calendar-alt"></i> 2019-03-17</p>
            </div>
            <div class="divInfos">
                <p id="guest"><i class="far fa-user"></i> 1 Guets</p>
            </div>
            <div class="divInfos">
                <p id="class"><i class="fas fa-crown"></i> First Class</p>
            </div>
            <div class="divInfos">
                <p id="price"><i class="far fa-credit-card"></i> 800$</p>
            </div>
        </div>

        @{
            DateTime dataHoje = DateTime.Today;
            foreach (var hotel in Model)
            {
                DateTime dataHotel = DateTime.Parse(hotel.date);
                int result = DateTime.Compare(dataHotel, dataHoje);
                if (hotel.cityId == 132 && result >= 0)
                {
                    <div class="card-teste">
                        <div class="card-img">
                            <img src="@hotel.thumb">
                        </div>
                        <div class="card-infos">
                            <div class="card-infos-interno">
                                <p class="stars"><i class="fas fa-star colorStar"></i><i class="fas fa-star colorStar"></i><i class="fas fa-star colorStar"></i><i class="fas fa-star colorStar"></i></p>
                            </div>
                            <div class="card-infos-interno nomeHotel">
                                <h3 id="nomeHotel">@hotel.hotelName</h3>
                            </div>
                            <div class="card-infos-interno localHotel">
                                <p id="localHotel">@(hotel.location), Dubai</p>
                            </div>
                            <div class="card-infos-interno precoHotel">
                                <p id="precoHotel">@(hotel.price)€</p>
                            </div>
                        </div>
                    </div>
                }

            }
        }


    </section>
</main>
@section Scripts
    {
    <script type="text/javascript">
        function MostraDadosHotel() {
            debugger;
        }
    </script>
}